*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 800px;
}

.post{
    background: #e2e2e2;
    margin: 10px 0;
}