@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 16px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 100%;
}

.post{
    background: #e2e2e2;
    margin: 10px 0;
}

.remove-btn {
    margin-right: 0.5rem;
}
  
.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition:  all 500ms ease-in;
}
  